body{
    text-transform: lowercase;
    font-family: monospace;
    background-color: #667;
}

#baseTable{
    width: 100%
}

.banner{
    padding: 20px;
    color: white;
    font-size: 25px;
}

.footer{
    font-size: 16px;
}

.contentRow{
    background-color: white;
}

.menu{
    width: 20%;
    vertical-align: top;
}

.menu li{
    list-style: none;
    margin-left: -20px;
}

.content{
    width: 80%;
    padding: 20px;
}

a{
    -moz-transition: font-size 0.2s;
}

a:hover{
    font-size:16px;
}

h2{
    text-transform: uppercase;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.vm{
    vertical-align: middle;
}

.data td{
    min-width: 100px;
}

.lh40{
    line-height: 40px;
}