#{extends 'main.html' /}
#{set title:'Page' /}

<h2>Add a new message</h2>
#{form @Index.addMessage()}
    <input type="hidden" name="userIdFrom" value="${user.getId()}">
    <select name="userIdTo">
        #{list userList, as:'useropt'}
            <option value="${useropt.getId()}">${useropt.getUsername()}</option>
        #{/list}
    </select>
    <input type="text" name="message" placeholder="message">
    <input type="submit" value="Add message">
#{/form}

<div class="space"></div>
<h2>messages sent</h2>
#{if sentMessageList != null && !sentMessageList.isEmpty()}
    #{list sentMessageList, as:'message'}
        #{message message:message /}
    #{/list}
#{/if}
#{else}
    You don't have messages
#{/else}

<div class="space"></div>
<h2>messages received</h2>
#{if receivedMessageList != null && !receivedMessageList.isEmpty()}
    #{list receivedMessageList, as:'message'}
        #{message message:message /}
    #{/list}
#{/if}
#{else}
    You don't have messages
#{/else}