#{extends 'main.html' /}
#{set title:'Messages list' /}

<h2>All user messages</h2>
#{if messageList != null && !messageList.isEmpty()}
    <table>
        <tr>
            <td>from</td>
            <td>to</td>
            <td>Message</td>
        </tr>

        #{list messageList, as:'message'}
        <tr>
            <td>${message.getUsernameFrom()}</td>
            <td>${message.getUsernameTo()}</td>
            <td>${message.getMessage()}</td>
        </tr>
        #{/list}
    </table>
#{/if}
#{else}
    There is no messages
#{/else}