
<div class="flashHandler">

    #{if flash.contains("error")}
        <div class="error">${flash.get("error")}</div>
    #{/if}
    #{elseif flash.contains("info")}
        <div class="info">${flash.get("info")}</div>
    #{/elseif}

    %{ flash.discard(); }%

</div>