
<ul>
    <li><i class="lh40">${session.get("user")}</i></li>
    <li><a href="@{Index.index()}">Index</a> </li>
    <li><a href="@{Index.list()}">See all messages</a> </li>
    <li><a href="@{Profile.edit(session.get('id'))}">Profile</a></li>
    #{secure.check "admin"}
        <li><a href="@{Profile.listUsers()}">List users</a></li>
    #{/secure.check}
    <li><a href="@{Secure.logout()}">Logout</a></li>
</ul>