<table>
    <tr>
        <td>from</td>
        <td>to</td>
        <td>Message</td>
    </tr>
    <tr>
        <td>${_message.getUsernameFrom()}</td>
        <td>${_message.getUsernameTo()}</td>
        <td>${_message.getMessage()}</td>
    </tr>
</table>