<table>
    <tr>
        <td>User</td>
        <td>Address</td>
        <td>IsAdmin</td>
    </tr>
    <tr>
        <td>${_user.getUsername()}</td>
        <td>${_user.getAddress()}</td>
        <td>${_user.isAdmin()}</td>
    </tr>
</table>