#{extends 'main.html' /}
#{set title:'Edit profile' /}

<h2>Modify values</h2>
#{form @Profile.edit(), method:'POST'}
    <input type="hidden" name="id" value="${user.getId()}">

    <table>
        <tr>
            <td>username:</td>
            <td>${user.getUsername()}</td>
        </tr>
        <tr>
            <td>address:</td>
            <td> <input type="text" name="address" value="${user.getAddress()}"> </td>
        </tr>
        <tr>
            <td>password:</td>
            <td> <input type="text" name="password1"> </td>
        </tr>
        <tr>
            <td>repeat password:</td>
            <td> <input type="text" name="password2"> </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save" class="fr">
            </td>
        </tr>
    </table>

#{/form}