#{extends 'main.html' /}
#{set title:'Users list' /}

<h2>Add user</h2>
#{form @Profile.addUser()}
<table>
    <tr>
        <td>username:</td>
        <td> <input type="text" name="username" > </td>
    </tr>
    <tr>
        <td>password:</td>
        <td> <input type="text" name="password" > </td>
    </tr>
    <tr>
        <td>address:</td>
        <td> <input type="text" name="address" > </td>
    </tr>
    <tr>
        <td colspan="2"> <input type="checkbox" name="isAdmin" class="vm fr"> <span class="vm fr">Is admin</span> </td>
    </tr>
    <tr>
        <td colspan="2"> <input type="submit" value="Save" class="fr"> </td>
    </tr>
</table>
#{/form}

<h2>All users</h2>
<table class="data">
    <tr>
        <td>Username</td>
        <td>Address</td>
    </tr>

    #{list userList, as:'user'}
    <tr>
        <td>${user.getUsername()}</td>
        <td>${user.getAddress()}</td>
    </tr>
    #{/list}
</table>